#menu ul {
  list-style-type: none;
  padding-left: 0px;
}
#menu ul li a {
  text-decoration: none;
  font-size: 75%;
  display: block;
  padding: 10px 0px 10px 10px;
}
#menu ul li a:hover {
  background-color: #555;
  color: #fff;
}
#menu h2 {
  background-color: #444;
}
#menu {
  margin-left: -10px;
}

#menu ul li ul {
  display: none;
  position: absolute;
}
#menu ul li:hover ul {
  display: block;
}
h2.h2a {
  background-color: #444;
}
