{% extends "base.html" %}

{% block body %}
<form action="{{ reverse_url('register') }}" method="POST">
         <div class="mb-3">
             <label class="form-label" for="username">Username: </label>
             <input type="text" id="username" name="username" class="form-control" />
         </div>
         <div class="mb-3">
             <label class="form-label" for="password">Password: </label>
             <input type= "password" id="password" name="password" class="form-control" />
         </div>
        <input type="submit" value="Register" class="btn btn-primary"/>
     </form>
     <br />
     <small>Already have an account? <a href="{{reverse_url('login')}}">Login</a></small>
{% end %}
