<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>pasword mod</title>
        <link rel="stylesheet" href=" {{ static_url('css/login_style.css') }} ">
    </head>
    <body>
        <form class="" action="/password" method="post">
            <input type="text" name="username" placeholder="username"
            required="required" autocomplete="off" autofocus="autofocus" />
            <br />
            <input type="password" name="password" placeholder="old password" required="required" />
            <br />
            <input type="password" name="newpasswd" placeholder="new password" required="required" />
            <br />
            <input type="submit" value="change" />
        </form>
    </body>
</html>
