{% extends "dashboard.html" %}

{% block topleft %}
    <p><a href="#">If you do much work on computers, eventually you find that there’s some task you’d like to automate.</a> </p>
    <p><a href="#">If you do much work on computers, eventually you find that there’s some task you’d like to automate.</a> </p>
    <p><a href="#">If you’re a professional software developer, you may have to work with several C,C++,Java libraries.</a> </p>
    <p><a href="#">Python is an interpreted language, which can save you considerable time during program development.</a> </p>
    <p><a href="#">Python allows you to split your program into modules that can be reused in other Python programs.</a> </p>
    <p><a href="#">Python is extensible if you know how to program in C it is easy to add a new built-in function or module to the interpreter.</a> </p>
    <p><a href="#">Examine Python in some more detail  extensible if you know how to program in C it is easy to add a new built-in function.</a> </p>
    <p><a href="#">By default, Python source files are Python source files are Python source files are treated as encoded in UTF-8.</a> </p>
    <p><a href="#">The interprete  extensible if you know how to program in C it is easy to add a new built-in function.</a> </p>
    <p><a href="#">The interp is typing Control-P to the first Python prompt you get.</a> </p>
{% end %}
