{% extends "../base.html" %}

{% block body %}
    {% if sc==1 %}
        <p>Your IP banned</p>
    {% else %}
        <form action="/user/login" method="post">
            {% module xsrf_form_html() %}
            <input type="text" name="username" id="username" placeholder="username" 
                pattern="[\d\w\s\]{8}" />
            <br />
            <input type="password" name="password" id="password" placeholder="password" 
                pattern="[\d\w\s]{8}" />
            <br />
            <input type="submit" value="Login" />
        </form>
    {% end %}
{% end %}